<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzd.mapper.ServerMapper">
    <select id="query" resultType="com.lzd.pojo.Server">
        select * from  tb_server where provide like #{provide} and city like #{city}
    </select>
</mapper>