.biaodan{
    width: 600px;
    height: 100%;
    margin: 25px auto;

}
.content p{

    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 15px #1a66db;

}
.bc{
    background: url("../image/bc1.jpg")center no-repeat;
}
.layui-form-label{
    color: white;
    font-size: 16px;
}
